html {
  font-family: var(--font-sans);
  -webkit-text-size-adjust: 100%;
}

body,
#root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  /* --- Font Sizes & Line Heights --- */
  --font-size-typo-h1: 32px;
  --font-size-typo-h1--line-height: 40px;

  --font-size-typo-h2: 24px;
  --font-size-typo-h2--line-height: 32px;

  --font-size-typo-h3: 20px;
  --font-size-typo-h3--line-height: 28px;

  --font-size-typo-l: 16px;
  --font-size-typo-l--line-height: 24px;

  --font-size-typo-l-strong: 16px;
  --font-size-typo-l-strong--line-height: 24px;

  --font-size-typo-m: 14px;
  --font-size-typo-m--line-height: 20px;

  --font-size-typo-m-strong: 14px;
  --font-size-typo-m-strong--line-height: 20px;

  --font-size-typo-label: 14px;
  --font-size-typo-label--line-height: 20px;

  --font-size-typo-caption: 12px;
  --font-size-typo-caption--line-height: 18px;

  --font-size-typo-caption-strong: 12px;
  --font-size-typo-caption-strong--line-height: 18px;

  /* --- Font Weights --- */
  --font-weight-typo-h1: 700;
  --font-weight-typo-h2: 700;
  --font-weight-typo-h3: 600;
  --font-weight-typo-l: 400;
  --font-weight-typo-l-strong: 600;
  --font-weight-typo-m: 400;
  --font-weight-typo-m-strong: 600;
  --font-weight-typo-label: 600;
  --font-weight-typo-caption: 400;
  --font-weight-typo-caption-strong: 600;
}
